# Vercel: Project Settings → Environment Variables
BUCKPAY_TOKEN=sk_live_seu_token_aqui
BUCKPAY_USER_AGENT=Buckpay API
BUCKPAY_API_URL=https://api.realtechdev.com.br

AMOUNT=58.36
CITY=Curitiba
STATE=PR
